<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Gallery</title>
  <link rel="stylesheet" href="gallery.component.css">
</head>
<body>

  <div class="container">
    <div class="signout">
      <button (click)="signOut()">Sign Out</button>
    </div>
    <div class="h1">
      <h1>Plant Gallery</h1>
    </div>
    
    <div class="gallery">

      @for (plant of ownedPlants; track plant.id) {
        <div class="image-item" (click)="onPress(plant.id)">
          @if(plant.plantImage) {
            <img [src]="plant.plantImage" [alt]="plant.name">
          } @else {
            <img src="https://cdn-icons-png.flaticon.com/512/628/628283.png" alt="Default Image">
          }
          <p class="description">{{plant.name}}</p>
        </div>
      }

      <div class="image-item" (click)="addPlant()">
        <img src="https://cdn3.iconfinder.com/data/icons/ecology-67/300/ecology-ecofriend-bio-eco-nature-plant-add-512.png" alt="Add Item">
        <p class="description">Add Plant</p>
      </div>
      
    </div>
  </div>


</body>
</html>
